<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastro de Veiculos</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% block botao %}
        <button type="submit">Cadastrar</button>
        <a href="{% url 'veiculos' %}" style="padding: 5px 12px; background: #ccc; border-radius: 4px; text-decoration:none;">
            Voltar
        </a>

        {% endblock %}
    </form>
</body>
</html>