{% extends 'base.html' %}
{% load static %}
{% block cabeca %}
<link rel="stylesheet" href="{% static 'css/main/base.css' %}" />
<link rel="stylesheet" href="{% static 'css/menuNav.css' %}">
{% endblock %}
{% block conteudo %}
    <section id="topo">
        <h1>Dashboard</h1>
        <p>Visão geral do desempemnho da oficina.</p>
    </section>

    <section id="dados-dashboard" class="flex-between">
        <div class="caixa-dashbord-dados">
            <div>
                <p>Total de clientes</p>
                <h2 id="total_clientes">{{ total_clientes }}</h2>
            </div>
            <div>
                <img src="" alt="ícone de pessoa" />
            </div>
        </div>
        <div class="caixa-dashbord-dados">
            <div>
                <p>Veículos em manutenção</p>
                <h2 id="veiculos_manuntenção">{{ veiculos_manutencao }}</h2>
            </div>
            <div>
                <img src="" alt="ícone de carro" />
            </div>
        </div>
        <div class="caixa-dashbord-dados">
            <div>
                <p>Serviços Concluídos</p>
                <h2 id="servicos_concluidos">{{ servicos_concluidos }}</h2>
            </div>
            <div>
                <img src="" alt="ícone de concluido" />
            </div>
        </div>
        <div class="caixa-dashbord-dados">
            <div>
                <p>Orçamentos pendentes</p>
                <h2 id="orcamentos_pendentes">
                    {{ orcamentos_pendentes }}
                </h2>
            </div>
            <div>
                <img src="" alt="ícone de pag de documento" />
            </div>
        </div>
    </section>
    <section id="servicos-recentes-dashboard">
        <h2>Serviços recentes</h2>
        <p>Últiams ordens de serviço registradas</p>
        <div class="caixa-servicos-recentes">
            {% for servico in servicos %}
            <div>
                <table class="tabela-servicos-recentes border">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Veículo</th>
                            <th>Serviço</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ servico.cliente }}</td>
                            <td>{{ servico.veiculo }}</td>
                            <td>{{ servico.servico }}</td>
                            <td>{{ servico.valor }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}