.topo-sec {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.topo-lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}


.botao-add {
    display: flex !important;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: transparent;
}

.lista-clientes{
    width: 100%;
    height: 80%px;
    background-color: white;
    border-radius: 12px;
    padding: 15px;
}

.navbar{
    font-size: 40px;
    padding: 0px;
}

.bg-body-tertiary {
    background-color: transparent !important;
}

.buscador-clientes{
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 400px;
}

.form-control{
    margin: 0px !important;
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 10px; /
}

.btn-outline-secondary-1 {
    --bs-btn-color: #4C515C;
    --bs-btn-hover-color: #4C515C;
    --bs-btn-hover-bg: #6b728034;
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6c757d;
    --bs-btn-active-border-color: #6c757d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6c757d;
    --bs-gradient: none;
}

.btn-outline-danger-2 {
    --bs-btn-color: #EF4444;
    --bs-btn-hover-color: #EF4444;
    --bs-btn-hover-bg: #6b728034;
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6c757d;
    --bs-btn-active-border-color: #6c757d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6c757d;
    --bs-gradient: none;
}

.table {
    --bs-table-bg: transparent !important;
    --bs-table-striped-bg: transparent !important;
    --bs-table-hover-bg: transparent !important;
    background-color: transparent !important;
}
