.topo-sec {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.topo-lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}


.botao-add {
    display: flex !important;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: transparent;
}

.lista-clientes{
    width: 100%;
    height: 300px;
    background-color: rgb(142, 110, 218);
    border-radius: 12px;
    padding: 12px;
}

.navbar{
    font-size: 40px;
    padding: 0px;
}

.bg-body-tertiary {
    background-color: transparent !important;
}

.buscador-clientes{
    display: flex !important
;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 400px;
}

.form-control{
    margin: 0px !important;
}
