*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header * {
    all: unset;
    display: revert;
}


html{
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

body{

    min-height: 100vh;
    overflow-y: auto;
}



#imagem-header img{
    height: 50px;
}

#imagem-header{
    display: flex;
    align-items: center;
    gap: 10px;

}

.container-externo{
    display: flex;
}

#user-logado{
    display: flex;
    align-items: center;
    gap: 10px;
}

.texto-azul{
    color: #1E40AF;
    font-size: 15px;
}

.logo-azul{
    color: white;
    background-color: #1E40AF;
    padding: 8px;
    border-radius: 15px;
    font-size: 40px;

}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 10px;
}

#caixa-logado{
    background-color: #F3F4F6;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    height: 30px;
}

#cargo-user{
    display: flex;
    flex-direction: column;
}

.menu-lateral {
    position: fixed;
    top: 80px; /* começa depois do header */
    left: 0;
    width: 230px;
    height: calc(100vh - 80px); /* altura total menos o header */
    background: #0f172a;
    padding: 15px 10px;
    overflow-y: auto; /* caso tenha muitos itens */
}

.menu-lateral .nav-link {
    color: #dde1cb;
    padding: 10px 15px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.95rem;
    text-decoration: none;
}

.menu-lateral .nav-link:hover {
    background: #1e293b;
    color: #fff;
}

.menu-lateral .nav-link.active {
    background: #3b82f6;
    color: white;
}




section {
    margin-top: 30px;
    margin-left: 230px; 
    padding: 80px;
    width: calc(100% - 230px);
    padding-left: 30px;
    padding-right: 30px;
    background-color: #F9FAFB;
}