*{
    margin: 0px;
    padding: 0px;
    border: none;
}

html{
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f1f1f1;
    height: 80px;
}

body{
    background-color: #e0dede;
    height: 100vh;
}



#imagem-header img{
    height: 50px;
}

#imagem-header{
    display: flex;
    align-items: center;
    gap: 10px;

}

.container{
    display: flex;
    height: 100vh;
}

#user-logado{
    display: flex;
    align-items: center;
    gap: 10px;
}

.texto-azul{
    color: #1E40AF;
}

.logo-azul{
    color: white;
    background-color: #1E40AF;
    padding: 8px;
    border-radius: 15px;
    font-size: 40px;

}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 10px;
}

#caixa-logado{
    background-color: rgba(128, 128, 128, 0.216);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

#cargo-user{
    display: flex;
    flex-direction: column;
}

.menu-lateral {
    width: 230px;
    height: 100vh;
    background: #0f172a;
    padding: 15px 10px;
}

.menu-lateral .nav-link {
    color: #dde1cb;
    padding: 10px 15px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.95rem;
    text-decoration: none;
}

.menu-lateral .nav-link:hover {
    background: #1e293b;
    color: #fff;
}

.menu-lateral .nav-link.active {
    background: #3b82f6;
    color: white;
}



section{
    width: 80%;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
}

section main{
    height: 100%;
    width: 60%;
}
/* classes */

.display-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    justify-items: center;
    align-items: center;
    padding-top: 20px;
}

.display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text-center{
    text-align: center;
}

.moldagem-div{
    background-color:white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #bfbaba;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column 2,1;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.dados{
    display: flex;
    flex-direction: column;
}