*{
    margin: 0px;
    padding: 0px;
    border: none;
}

html{
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f1f1f1;
    height: 80px;
}

body{
    background-color: #e0dede;
}



#imagem-header img{
    height: 50px;
}

#imagem-header{
    display: flex;
    align-items: center;
    gap: 10px;

}

.container{
    display: flex;
    height: 100vh;
}

#user-logado{
    display: flex;
    align-items: center;
    gap: 10px;
}

#cargo-user{
    display: flex;
    flex-direction: column;
}

nav{
    background-color: #343a40;
    width: 30%;
    height: 100%;
    
}

section{
    margin-left: 20%;
    width: 80%;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
}

section main{
    height: 100%;
}
/* classes */

.display-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    justify-items: center;
    align-items: center;
    padding-top: 20px;
}

.display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text-center{
    text-align: center;
}

.moldagem-div{
    background-color:white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #bfbaba;
}
