
<header class="flex-between lista-menu-ul lista-menu-li">
    <div class="text-nav">
        <img src="" alt="logo">
        <h1>Oficina</h1>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}"></a>Dashboard</li>
            <li><a href=""></a>Automóveis</li>
            <li><a href=""></a>Clientes</li>
            <li><a href=""></a>Serviços</li>
        </ul>
    </nav>
    <div class="login">
        <div class="user">
            <div class="img-perfil">
                <img src="" alt="img-user">
            </div>
            <div>
                <p>{{ user.first_name }} {{ user.last_name }}</p>
                <p>{{ user }}</p>
            </div>
        </div>
        <button><img src="" alt="logout"></button>
    </div>
</header>
