header{
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}




/*footer*/

footer{
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}