{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Clientes</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        />
        <link rel="stylesheet" href="{% static 'css/main/menu.css' %}" />
        <link rel="stylesheet" href="{% static 'css/clientes/clientes.css' %}" />
        {% if messages %}
            {% for message in messages %}
                <script>
                    alert("{{ message|escapejs }}");
                </script>
            {% endfor %}
        {% endif %}
    </head>
    <body>
        <!-- <header>
            <div id="imagem-header">
                <i
                    class="bi bi-wrench"
                    style="
                        font-size: 30px;
                        background-color: #1e40af;
                        padding: 5px;
                        border-radius: 12px;
                        color: white;
                        width: 40px;
                        text-align: center;
                    "
                ></i>
                <div>
                    <h1 style="color: #1e40af" class="texto-azul">
                        AutoGest Pro
                    </h1>
                    <h2>Sistema de gestão de oficina</h2>
                </div>
            </div>

            <div id="user-logado">
                <div id="caixa-logado">
                    <div class="profile-pic" id="button-logout">
                        <span class="initials"></span>
                    </div>

                    <span id="cargo-user">
                        Administrador
                        <span id="name-user"> Administrador </span>
                    </span>
                </div>

                <button type="button" id="botao-sair">
                    <i
                        class="fa-solid fa-arrow-right-from-bracket"
                        style="color: #000000; font-size: 20px"
                    ></i>
                </button>
            </div>
        </header> -->
        {% include 'header.html' %}
        <div class="hamburger" id="hamburger">☰</div>

        <div class="container-externo">
            <div class="menu-lateral flex-column" id="sidebar">
                <a href="{% url 'index' %}" class="nav-link">
                    <i class="bi bi-grid"></i> Dashboard
                </a>

                <a href="{% url 'clientes' %}" class="nav-link active">
                    <i class="bi bi-people"></i> Clientes
                </a>

                <a href="{% url 'veiculos' %}" class="nav-link">
                    <i class="bi bi-car-front"></i> Veículos
                </a>

                <a href="{% url 'servicos' %}" class="nav-link">
                    <i class="bi bi-tools"></i> Serviços
                </a>

                <a href="#" class="nav-link">
                    <i class="bi bi-journal-text"></i> Orçamentos
                </a>

                <a href="#" class="nav-link">
                    <i class="bi bi-box-seam"></i> Estoque
                </a>

                <a href="#" class="nav-link">
                    <i class="bi bi-person-workspace"></i> Mecânicos
                </a>

                <a href="#" class="nav-link">
                    <i class="bi bi-bar-chart-line"></i> Relatórios
                </a>
            </div>

            <section>
                <main>
                    <div class="topo-sec">
                        <div>
                            <h1 style="font-size: 30px">Clientes</h1>
                            <h2 style="font-size: 20px" class="text-muted">
                                Gerencie os clientes da oficinaa
                            </h2>
                        </div>
                        <a 
                            href="{% url 'cadastrar_cliente' %}" 
                            style="text-decoration: none; color: inherit">
                        <button 
                            class="add-btn btn btn-primary" 
                            >+ Adicionar Cliente
                        </button></a>
                    </div>

                    <div class="lista-clientes mt-4">
                        <div class="topo-lista">
                            <div>
                                <h4 style="font-weight: 500; font-size: 15px;">
                                    Lista de Clientes
                                </h1>
                                <p class="text-muted">
                                    Total de {{ clientes.count }} clientes cadastrados
                                </p>
                            </div>

                            <nav
                                class="navbar bg-body-tertiary"
                                style="color: #9da1ab"
                            >
                                <form 
                                        method="get"
                                        class="d-flex buscador-clientes align-itens-center"
                                        role="search">
                                        <i
                                            class="bi bi-search"
                                            style="
                                                font-size: 20px;
                                                margin-right: 10px;
                                            "
                                        ></i>
                                        <div 
                                            class="search-box"
                                            style="display: flex; align-items: center;"
                                        >
                                            <input 
                                            class="form-control"
                                            type="search"
                                            placeholder="Buscar cliente..."
                                            aria-label="Search"
                                            type="text" 
                                            name="q" 
                                            value="{{ busca }}"
                                            />
                                            <button
                                                type="submit"
                                                class="btn btn-primary"
                                                >Buscar
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </nav>
                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Contato</th>
                                    <th scope="col">Endereço</th>
                                    <th scope="col">Veículos</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Ações</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for cliente in clientes %}
                                <tr>
                                    <td scope="row">{{ cliente.nome }}</td>

                                    <td>
                                        <div class="icon-text">
                                            <i class="bi bi-telephone"></i> {{ cliente.telefone }}
                                        </div>

                                        <div class="icon-text">
                                            <i class="bi bi-envelope"></i>
                                            {{ cliente.email }}
                                        </div>
                                    </td>

                                    <td>
                                        <div class="icon-text">
                                            <i class="bi bi-geo-alt"></i> {{ cliente.endereco }}
                                        </div>
                                    </td>

                                    <td>{{cliente.quantidade_veiculos}}</td>

                                    <td>
                                        <span class="badge text-bg-success"
                                            >Ativo</span
                                        >
                                    </td>

                                    <td>
                                        <a href="{% url 'editar_cliente' cliente.id %}" style="padding: 0;">
                                        <button
                                        style="padding: 0;"
                                            class="btn btn-sm btn-outline-secondary-1 me-2"
                                        >
                                            <i class="bi bi-pencil-square"></i>
                                        </button></a>
                                        <form action="{% url 'excluir_cliente' cliente.id %}" method="post" onsubmit="return confirmarExclusao()" >
                                        <button
                                            class="btn btn-sm btn-outline-danger-2"
                                            style="padding: 0;"
                                            >
                                            <i class="bi bi-trash-fill"></i>
                                        </button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </main>
            </section>
        </div>

        <script src="{% static 'js/main/script.js' %}"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"
        ></script>
    </body>
</html>