{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="{% static 'css/clientes/clientes.css' %}">
</head>
<body>
    {% include 'header.html' %}
    {% include 'menuNav.html' %}
    <br><br><br><br><br><br><br><br><br>
    <div style="width: 800px; height: 400px; justify-content: center; display: block; text-align: center;">
        <main class="content">

            <h1>Clientes</h1>

            Área de busca + botão adicionar
            <div class="top-controls">
                <form method="get">
                    <div class="search-box">
                        <input type="text" name="q" placeholder="Buscar clientes..." value="{{ busca }}">
                        <button type="submit">Buscar</button>
                    </div>
                </form>
                <a href="{% url 'cadastrar_cliente' %}"><button class="add-btn" >+ Adicionar Cliente</button></a>
                
            </div>

            Lista de clientes
            <section class="client-list">
                {% if clientes %}
                    {% for cliente in clientes %}
                    <div class="client-card">
                        <h2>{{ cliente.nome }}</h2>
                        <p><strong>Contato:</strong> {{ cliente.telefone }}</p>
                        <p><strong>Email:</strong> {{ cliente.email }}</p>
                        {% if cliente.endereco %} 
                        <p><strong>Endereço:</strong>{{ cliente.endereco }}</p>
                        {% endif %}
                        <a href="{% url 'editar_cliente' cliente.id %}">Editar</a>
                        <a href="{% url 'excluir_cliente' cliente.id %}" onclick="return confirm('Tem certeza que deseja excluir este veículo?');">Excluir</a>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>Nenhum cliente encontrado.</p>
                {% endif %}
            </section>

        </main>
    </div>
</body>
</html>
